<nav class="navigation-drawer">
    <div class="frame28">
        <div class="headline">
            <h1>Communication360</h1>
        </div>
        <button class="regular-button">
            <img src="/img/add-button.svg" alt="">
            <h1>New Broadcast</h1>
        </button>
    </div>
        <ul class="nav-item-prime">
            <li id="communication360-schedule"><a href="/shedule">Schedule</a></li>
            <li id="communication360-messaging"><a href="/messaging">Messaging</a><img src="/img/vector-right.svg" alt=""></li>
            <ul id="messaging-list" class="messaging-list">
                <li id="communication360-messaging-broadcast"><a href="/messaging/broadcast">Broadcast</a></li>
                <li id="communication360-messaging-templates"><a href="#">Templates</a></li>
                <li id="communication360-messaging-sms-inbox"><a href="#">SMS Inbox</a></li>
                <li id="communication360-messaging-history"><a href="/messaging/history">History</a></li>
            </ul>
            <li id="communication360-applications"><a href="#">Applications</a><img src="/img/vector-right.svg" alt=""></li>
            <li id="communication360-enterprise"><a href="#">Enterprise</a><img src="/img/vector-right.svg" alt=""></li>
            <li id="communication360-help"><a href="#">Help</a></li>
        </ul>
        
        
</nav>