<nav class="navigation-drawer">
    <div class="frame28">
        <div class="headline">
            <h1>Communication360</h1>
        </div>
        <button class="regular-button">
            <img src="/img/add-button.svg" alt="">
            <h1>New Broadcast</h1>
        </button>
    </div>
        <ul class="nav-item-prime">
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Messaging</a><img src="/img/vector-down.svg" alt=""></li>
            <ul>
                <li><a href="#">Broadcast</a></li>
                <li><a href="#">Templates</a></li>
                <li><a href="#">SMS Inbox</a></li>
                <li><a href="#">History</a></li>
            </ul>
            <li><a href="#">Applications</a><img src="/img/vector-right.svg" alt=""></li>
            <li><a href="#">Enterprise</a><img src="/img/vector-right.svg" alt=""></li>
            <li><a href="#">Help</a></li>
        </ul>
        
        
</nav>