<nav class="navigation-drawer">
    <div class="frame28">
        <div class="headline">
            <h1>Communication360</h1>
        </div>
        <button class="regular-button">
            <img src="/img/add-button.svg" alt="">
            <h1>New Broadcast</h1>
        </button>
    </div>
        <div class="nav-item-prime">
            <a data-a="1" data-link="/chedule" href="#">Schedule</a>
            <a data-a="2" data-link="/messaging" href="#">Messaging<img id="vector-2" src="/img/vector-right.svg" alt="vector"></a>
            <div class="messaging-list" >
                <a data-a="21" data-link="/messaging/broadcast" href="#">Broadcast</a>
                <a data-a="22" data-link="/messaging/templates" href="#">Templates</a>
                <a data-a="23" data-link="/messaging/sms-inbox" href="#">SMS Inbox</a>
                <a data-a="24" data-link="/messaging/history" href="#">History</a>
            </div>
            <a data-a="3" data-link="/aplications" href="#">Applications<img id="vector-3" src="/img/vector-right.svg" alt="vector"></a>
            <a data-a="4" data-link="/enterprise" href="#">Enterprise<img id="vector-4" src="/img/vector-right.svg" alt="vector"></a>
            <a data-a="5" data-link="/help" href="#">Help</a>
        </div>
        
        
</nav>