<section class="mesaging-history-item">
    <header>
        <div class="history-headline">
            <h1>History</h1>
        </div>
        <div class="history-details">
            <h1>View and export Broadcast and Template messages sent from your account below. </h1>
        </div>
        <div class="history-action-bar">
            <div class="action-bar-select-data">
                <img src="/img/vector-back.svg" alt="">
                <input type="data">
                <img src="/img/vector-forward.svg" alt="">
            </div>
            <div class="action-bar-search-filter">
                <input  type="search">
                <img src="/img/icon-filter.svg" alt="">
            </div>
        </div>
        <div class="history-filteres">
            <li>Message Type</li>
            <li><input type="checkbox" name="" id="">Automatic</li>
            <li><input type="checkbox" name="" id="">Broadcast</li>
            <li><input type="checkbox" name="" id="">Emergency</li>
        </div>
    </header>
    <div class="history-table-list"></div>
</section>