<section class="mesaging-history-item">
    <header>
        <div class="history-headline">
            <h1>History</h1>
        </div>
        <div class="history-details">
            <h1>View and export Broadcast and Template messages sent from your account below. </h1>
        </div>
        <div class="history-action-bar">
            <div class="action-bar-select-data">
                <button>
                    <img src="/img/vector-back.svg" alt="">
                </button>
                <input type="data">
                <button>
                    <img src="/img/vector-forward.svg" alt="">
                </button>
            </div>
            <div class="action-bar-search-filter">
                <input  type="search">
                <button type="button">
                    <img src="/img/icon-filter.svg" alt="">
                </button>
            </div>
        </div>
        <div class="history-filteres">
            <li>Message Type</li>
            <li><input type="checkbox" name="" id="">Automatic</li>
            <li><input type="checkbox" name="" id="">Broadcast</li>
            <li><input type="checkbox" name="" id="">Emergency</li>
        </div>
    </header>
    <div class="history-table-list">
        <div class="list-quantity"><h2>296 Item(s) in Total</h2></div>
        
            <div class="history-table-header">
                <ul>
                <li id="checkbox"><input type="checkbox"></li>
                <li id="name-subject"><span>Name/Subject</span><img src="/img/vector-up-down.svg" alt=""></li>
                <li id="message-type"><span>Message Type</span><img src="/img/vector-up-down.svg" alt=""></li>
                <li id="channel"><span>Channel</span><img src="/img/vector-up-down.svg" alt=""></li>
                <li id="recipients"><span>Recipients</span><img src="/img/vector-up-down.svg" alt=""></li>
                <li id="date-sent"><span>Date Sent</span><img src="/img/vector-up-down.svg" alt=""></li>
                <li id="view-summary"><span>View Summary</span></li>
                </ul>
            </div>
            <div class="history-table-list-item">
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <img src="/img/vector-sms.svg" alt="">
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <img src="/img/vector-sms.svg" alt="">
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <img src="/img/vector-sms.svg" alt="">
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <!-- <img src="/img/vector-phone.svg" alt=""> -->
                        <img src="/img/vector-sms.svg" alt="">
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <!-- <img src="/img/vector-phone.svg" alt=""> -->
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <img src="/img/vector-mail.svg" alt="">
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>
                <ul>
                    <li id="checkbox"><input type="checkbox"></li>
                    <li id="name-subject"><span>Sample Message Name Sample</span></li>
                    <li id="message-type"><span>Broadcast</span></li>
                    <li id="channel">
                        <img src="/img/vector-phone.svg" alt="">
                        <!-- <img src="/img/vector-sms.svg" alt=""> -->
                        <!-- <img src="/img/vector-mail.svg" alt=""> -->
                    </li>
                    <li id="recipients"><span>000000</span></li>
                    <li id="date-sent"><span>Jan 01, 2024 12:00am</span></li>
                    <li id="view-summary"><button><img src="/img/vector-list-item.svg" alt=""></button></li>
                </ul>


            </div>
            <div class="history-pages">
                <ul>
                    <li><button type="button"><img src="/public/img/vector-back.svg" alt=""></button></li>
                    <li><button type="button">1</button></li>
                    <li><button type="button">2</button></li>
                    <li><button type="button">3</button></li>
                    <li><button type="button">4</button></li>
                    <li><button type="button">5</button></li>
                    <li><button type="button">6</button></li>
                    <li><button type="button">7</button></li>
                    <li><button type="button">8</button></li>
                    <li><button type="button">9</button></li>
                    <li><button type="button">10</button></li>
                    <li><button type="button"><img src="/public/img/vector-forward.svg" alt=""></button></li>
                </ul>
            </div>
        
    </div>
</section>